<ion-view title="Page" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="page-card23">
            <ion-item class="item-avatar" id="page-list-item58">
                <img src="img/XOdL8zjRGmmcVR6xgUNR_programacion.png">
                <h2>Foto Antes</h2>
            </ion-item>
            <ion-list id="page-list14">
                <ion-item class="item-icon-left item-icon-right" id="page-list-item60">
                    <i class="icon ion-android-document"></i>Frente:
                    <i class="icon ion-ios-arrow-down"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" id="page-list-item61">
                    <i class="icon ion-android-document"></i>Derecha:
                    <i class="icon ion-ios-arrow-down"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" id="page-list-item62">
                    <i class="icon ion-android-document"></i>Izquierda:
                    <i class="icon ion-ios-arrow-down"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" id="page-list-item64">
                    <i class="icon ion-android-document"></i>Trasera:
                    <i class="icon ion-ios-arrow-down"></i>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>